@charset "UTF-8";
/*Se trae el contenido de estos archivos scss*/ /*Paleta de colores*/
/*Fuente*/
/*Tamaños de fuentes e iconos y font-weight*/
/*Resoluciones de pantallas*/
/*MIXINS*/
body {
  font-family: "Asap", sans-serif;
  background-image: linear-gradient(to bottom, #8acbe9, pink);
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.menu a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-weight: 600;
}

/*Header y navbar*/
.navbar-dark .navbar-nav .nav-link {
  color: black;
}

#header-seccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(192, 79, 240, 0.5019607843);
  position: fixed;
  width: 100%;
  padding-left: 20px;
  z-index: 1;
}
#header-seccion .navbar {
  width: 100%;
}
#header-seccion nav {
  padding-right: 60px;
}
#header-seccion .nav-item {
  padding: 0 10px;
}
#header-seccion .nav-link {
  font-size: 1.2rem;
}
#header-seccion .menu li .pagina-actual {
  position: relative;
  bottom: 8%;
  color: white !important;
  font-size: 23px;
}

.bts-logo-imagen {
  width: 5rem;
}

.seccion-principal {
  margin: 0 auto;
  width: 65%;
}

/*color para todos los h1*/
.seccion-principal h1 {
  color: #662881;
  font-weight: 800;
}

p {
  line-height: 2;
}

/*FOOTER*/
footer {
  background-color: #ce86d2;
  padding: 50px 0 20px;
  text-align: center;
  margin-top: 3.5rem;
}
footer a {
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  color: #090707;
}
footer a .fa-brands, footer a .fa {
  font-size: 24px;
}

/*usaremos EXTEND mas adelante*/
.imagen-integrante, .imagen-7, .intro .intro-row1 .imagen1 {
  width: 10.5rem;
  border-radius: 100%;
  max-height: 150px;
  margin: 0 auto; /*centramos*/
}

.titulo-principal {
  padding-top: 120px;
  padding-bottom: 30px;
  font-size: 25px;
}

.seccion-principal h2 {
  color: blueviolet;
}

.saludo {
  height: 250px;
  padding-top: 100px;
  font-size: 25px;
}

.intro .intro-row1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0;
}
.intro .intro-row1 .imagen-description1 {
  width: 74.3%;
  text-align: justify;
}
.intro .intro-row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 60px 0;
}
.intro .intro-row2 .imagen2 {
  width: 11.5rem;
  border-radius: 100%;
}
.intro .intro-row2 .imagen-description2 {
  width: 70%;
  text-align: justify;
}

@media (min-width: 992px) {
  .intro .intro-row2 {
    flex-direction: row-reverse;
  }
  .intro .intro-row2 .imagen-description2 {
    margin-right: 20px;
  }
  .intro .intro-row1 {
    flex-wrap: nowrap;
  }
  .intro .intro-row1 .imagen-description1 {
    margin-left: 20px;
  }
}
#features {
  position: relative;
}
#features .container-fluid {
  padding: 7% 15% 3%;
}
#features .container-fluid .feature-box {
  text-align: center;
  margin-bottom: 1.5rem;
}
#features .container-fluid .feature-box .icon {
  color: #e335a6;
  margin-bottom: 1rem;
}
#features .container-fluid .feature-box .icon:hover {
  color: #48d4f4;
}
#features .container-fluid .feature-box p {
  width: 75%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #features .container-fluid .feature-box p {
    width: 100%;
  }
}
hr {
  border: dotted #a522ab 10px;
  border-bottom: none;
  width: 4%;
  margin: 0px auto;
  margin-top: 50px;
  background-color: transparent;
}

/* Seccion discografia */
.card {
  background-color: rgb(196, 193, 193);
  max-width: 80%;
  height: 100%;
}

.card img {
  width: 100%;
}

.card-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  position: relative;
}

@media (min-width: 600px) {
  .card-principal {
    display: grid;
    grid-template-areas: "card1 card2" "card3 card4" "card5 card6" "card7 card8" "card9 card10" "card11 card12";
    gap: 15px;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
  .card6 {
    grid-area: card6;
  }
  .card7 {
    grid-area: card7;
  }
  .card8 {
    grid-area: card8;
  }
  .card9 {
    grid-area: card9;
  }
  .card10 {
    grid-area: card10;
  }
  .card11 {
    grid-area: card11;
  }
  .card12 {
    grid-area: card12;
  }
  .card {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .card-principal {
    display: grid;
    grid-template-areas: "card1 card2 card3" "card4 card5 card6" "card7 card8 card9" "card10 card11 card12";
    gap: 15px;
  }
}
@media (min-width: 990px) {
  .card-principal {
    display: grid;
    grid-template-areas: "card1 card2 card3 card4" "card5 card6 card7 card8" "card9 card10 card11 card12";
    gap: 15px;
  }
}
.seccion-integrantes {
  height: 250px;
  padding-top: 100px;
  font-size: 25px;
}

.row-integrantes .col-md-4 {
  display: flex;
  justify-content: center;
}

/*centramos los elementos del row*/
.row-integrantes.row {
  align-items: center;
}

.row-integrantes2 .col-md-4 {
  display: flex;
  justify-content: center;
}

/*centramos los elementos del row*/
.row-integrantes2.row {
  align-items: center;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .row-integrantes2.row {
    flex-direction: row;
  }
}
.row-integrantes .col-md-8 h5 {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .row-integrantes .col-md-8 h5, .row-integrantes2 .col-md-8 h5 {
    margin-top: 30px;
  }
}
.row-integrantes2 .col-md-8 h5 {
  margin-top: 20px;
}

.imagen-description {
  font-size: 15px;
  text-align: justify;
}

.historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.historia img {
  width: 80%;
}

.historia-video iframe {
  width: 250px;
  height: 150px;
}

@media (min-width: 600px) {
  .historia-video iframe {
    width: 250px;
    height: 150px;
  }
}
/*css destinado a los botones de anterior del carrusel*/
.prev-icon {
  position: relative;
  right: 60px;
  color: #a522ab;
  font-size: 30px;
}

.next-icon {
  position: relative;
  left: 60px;
  color: #a522ab;
  font-size: 30px;
}

@media (min-width: 992px) {
  .prev-icon {
    right: 90px;
  }
  .next-icon {
    left: 90px;
  }
}
.carousel-control-prev, .carousel-control-next {
  z-index: 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 8 0%;
  margin: 0 auto;
  font-size: 1.3em;
}
form .nombre-apellido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
form .nombre-apellido #nombre {
  width: 100%;
}
form .correo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  width: 90%;
  margin: 0 auto;
}
form .correo #correo {
  width: 100%;
}
form .numero-telefono {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
form .numero-telefono #telefono {
  width: 100%;
}
form .dni {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
form .dni #dni {
  width: 100%;
}
form .mensaje-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
form .mensaje-form #mensaje {
  width: 100%;
}
form label {
  margin-top: 10px;
}
form input, form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
form input[type=submit] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
}
form input[type=submit]:hover {
  background-color: #0056b3;
}
form #btn-limpiar-formulario:hover {
  background-color: #d8d9d9;
}
form .botones-formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  row-gap: 10px;
}
form #btn-enviar {
  width: 100%;
}
form #btn-limpiar-formulario {
  width: 100%;
}

@media (min-width: 768px) {
  form .nombre-apellido {
    flex-direction: row;
  }
  form .nombre-apellido #nombre {
    width: 60%;
  }
  form .correo {
    flex-direction: row;
  }
  form .correo #correo {
    width: 60%;
  }
  form .numero-telefono {
    flex-direction: row;
  }
  form .numero-telefono #telefono {
    width: 60%;
  }
  form .dni {
    flex-direction: row;
  }
  form .dni #dni {
    width: 60%;
  }
  form .mensaje-form {
    flex-direction: row;
  }
  form .mensaje-form #mensaje {
    width: 60%;
  }
  form .botones-formulario {
    flex-direction: row;
    margin: 15px auto 75px;
    width: 90%;
    row-gap: 0px;
  }
  form #btn-enviar {
    width: 45%;
    margin-left: 0;
  }
  form #btn-limpiar-formulario {
    width: 45%;
    margin-bottom: 0px;
  }
}
.h1-contacto {
  margin-left: 4rem;
}

.ubicacion iframe {
  width: 200px;
  height: 180px;
  border: 0;
}

/*Media queries para el tamaño del mapa de ubicacion en Contactos.html*/
@media (min-width: 400px) {
  .ubicacion iframe {
    width: 280px;
    height: 250px;
  }
}
@media (min-width: 600px) {
  .ubicacion iframe {
    width: 320px;
    height: 250px;
  }
}
@media (min-width: 768px) {
  .ubicacion iframe {
    width: 450px;
    height: 250px;
  }
}
@media (min-width: 992px) {
  .ubicacion iframe {
    width: 500px;
    height: 400px;
  }
}
/*Se agrega un hove a los cards para agrandar las imagenes con un scale()*/
.card:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  /*Brillo a la imagen de 50% cuando el mouse este encima de el*/
}
.card:hover img {
  filter: brightness(50%);
}

.ubicacion {
  padding-top: 2rem;
  margin: 0 auto;
  width: 65%;
}

/*# sourceMappingURL=styles.css.map */
