/* Seccion discografia */

.card-principal{
    @include flex-columna;
    gap: 20px;
    justify-content: center;
    position: relative;

    .card{
        background-color: rgb(196, 193, 193);
        max-width: 80%;
        height: 100%;
        border-radius: 7px;
    
        img{
            width:100%;
            border-radius: 7px;
        }
    }
}


@media (min-width: 600px){
    .card-principal{
        display: grid;
        grid-template-areas: 
                        "card1 card2"
                        "card3 card4"
                        "card5 card6"
                        "card7 card8"
                        "card9 card10"
                        "card11 card12";
        gap: 15px
    }

    .card1{
        grid-area: card1;
    }

    .card2{
        grid-area: card2;
    }

    .card3{
        grid-area: card3;
    }

    .card4{
        grid-area: card4;
    }

    .card5{
        grid-area: card5;
    }

    .card6{
        grid-area: card6;
    }

    .card7{
        grid-area: card7;
    }

    .card8{
        grid-area: card8;
    }

    .card9{
        grid-area: card9;
    }

    .card10{
        grid-area: card10;
    }

    .card11{
        grid-area: card11;
    }

    .card12{
        grid-area: card12;
    }

    .card-principal{
        .card{
            max-width: 100%;
        }
    }
}

@media (min-width: $tablet){
    .card-principal{
        grid-template-areas: 
                        "card1 card2 card3"
                        "card4 card5 card6"
                        "card7 card8 card9"
                        "card10 card11 card12";
    }
}



@media (min-width: 990px){
    .card-principal{
        grid-template-areas: 
                        "card1 card2 card3 card4"
                        "card5 card6 card7 card8"
                        "card9 card10 card11 card12";
    }

}


.filtro-contenedor{
    @include flex-columna;
    justify-content: center;
    margin-bottom: 30px;

    label {
        text-align: center;
        padding-top: 3px;
        font-size: 16px;
        cursor: pointer;
        background-color: $color-secundario;
        border-radius: 10px;
        height: 30px;
        width: 150px;
        color: white;
        margin-bottom: 5px;

        &:hover {
            opacity: 0.7;
        }
    }
}

input[type=radio] {
    display: none;
}

  
@media (min-width: $mobile){
    .filtro-contenedor{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 20px;
        justify-content: space-around;

        label {
            width: 180px;
            height: 35px;
            padding-top: 5px;
        }
    }
}

@media (min-width: $tablet){
    .filtro-contenedor{
        label {
            width: 120px;
        }
    }
}



//color de fondo para cuando este activo un input radio
#filtro-nuevos:checked ~  .filtro-contenedor label[for="filtro-nuevos"],
#filtro-populares:checked ~  .filtro-contenedor label[for="filtro-populares"],
#filtro-viejos:checked ~ .filtro-contenedor label[for="filtro-viejos"],
#filtro-todos:checked ~ .filtro-contenedor label[for="filtro-todos"] {
  background-color: rgb(236, 108, 129); /* rosa */
}

//se selecciona el filtro "todos"
#filtro-todos:checked ~ .card-principal .card{
    display: grid;
}

//se selecciona el filtro "mas nuevos"
#filtro-nuevos:checked ~ .card-principal .mas-nuevo{
    display: grid;
}

#filtro-nuevos:checked ~ .card-principal .mas-popular, .card-principal .mas-viejo{
    display: none;
}

//se selecciona el filtro "mas populares"
#filtro-populares:checked ~ .card-principal .mas-popular{
    display: grid;
}

#filtro-populares:checked ~ .card-principal .mas-nuevo, .card-principal .mas-viejo{
    display: none;
}

//se selecciona el filtro "mas viejos"
#filtro-viejos:checked ~ .card-principal .mas-viejo{
    display: grid;
}

#filtro-viejos:checked ~ .card-principal .mas-nuevo, .card-principal .mas-popular{
    display: none;
}