.seccion-principal{
    /*centramos los elementos del row*/
    .row-integrantes.row{
        align-items: center;
    }
 
    .row-integrantes{
        margin-top: 30px;

        .col-md-4{
            display: flex;
            justify-content: center;

            .imagen-7{
                @extend .imagen-integrante
            }
        }

        .col-md-8{
            h5{
                margin-top: 20px;
            }

            .imagen-description{
                font-size: 15px; 
                text-align: justify;
            }
        }
    }

    /*centramos los elementos del row*/
    .row-integrantes2.row{
        align-items: center;
        flex-direction: column-reverse;
    }

    .row-integrantes2 {
        margin-top: 30px;

        .col-md-4{
            display: flex;
            justify-content: center;

            .imagen-7{
                @extend .imagen-integrante
            }
        }

        .col-md-8{
            h5{
               margin-top: 20px;
            }

            .imagen-description{
                font-size: 15px; 
                text-align: justify;
            }
        }
    }
}

@media (min-width: $tablet){
    .seccion-principal{
        .row-integrantes2.row{
            flex-direction: row;
        }

        .row-integrantes2 {
            margin-top: 0;
        }
    }
}


@media (min-width: $tablet){
    .seccion-principal{
        .row-integrantes .col-md-8 h5, .row-integrantes2 .col-md-8 h5{
            margin-top: 30px;
        }
    }
}

